.navContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    padding-top: calc(var(--nav-width) * 1.6);
    width: var(--nav-width);
}

.hamburger {
    color: black;
    z-index: 101;
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    position: fixed;
    top: var(--sp);
    left: var(--sp);
}


.mainTitle {
    z-index: 100;
    display: flex;
    position: fixed;
    top: calc(var(--sp) * 4);
    left: calc(var(--sp) * 2);
    pointer-events: none;
}

.nav {
    height: 100%;
    pointer-events: none;
    visibility: visible;
    color: black;
    padding-left: calc(var(--sp) * 2);
    pointer-events: none;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav ul li {
    pointer-events: auto;
    list-style: none;
    transform: none;
    transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
    transform: scale(1.01);
}

/* 세로가 긴 화면 (높이가 더 클 때) */
@media (max-aspect-ratio: 1/1) {
    .navContainer {
        position: fixed;
        z-index: 10;
        width: 100%;
        padding-top: 20%;
    }

    .navContainer:has(.nav.show) {
        background-color: white;
    }

    .mainTitle {
        width: 100%;
        justify-content: center;
        left: auto;
        opacity: 1;
    }

    .hamburger {
        display: inline-flex;
    }

    .nav {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease;
    }

    .nav.show {
        transform: translateX(0);
        opacity: 1;
    }

    .navContainer:has(.nav.show) .mainTitle {
        display: none;
    }

    .nav ul {
        text-align: center;
    }
}