 .mediaPlayerConTainer {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 148px;
     flex-direction: column;
     padding-top: var(--sp);
 }

 .playerButtonGroup {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: var(--sp);
     width: 100%;
 }

 .controlButton {
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     cursor: pointer;
     transition: all 0.2s ease;
     background: transparent;
 }

 .controlButton:hover {
     opacity: 0.7;
 }

 .controlButton:active {
     transform: scale(0.95);
 }

 .stopButton .button-icon {
     width: 10px;
     height: 10px;
 }


 .inventoryButton,
 .prevButton,
 .nextButton {
     width: 28px;
     height: 28px;
     background: #fff;
     border: 1px solid #999;
     border-radius: 4px;
     color: #333;
 }

 .dropDownUp {
     position: absolute;
     bottom: 130%;
     left: 0;
     border: 1px solid #ccc;
     background: #fff;
     list-style: none;
     padding: 0;
     margin: 0;
     overflow: hidden;
     /* 넘친 부분 숨김 */
     white-space: nowrap;
 }

 .dropDownUp li {
     padding: var(--sp) calc(var(--sp) * 2);
     cursor: pointer;
     transition: all 0.2s ease;
     border-bottom: 1px solid #f5f5f5;
 }

 .dropDownUp li:last-child {
     border-bottom: none;
 }

 .dropDownUp li:hover {
     background: #000;
     color: #fff;
 }

 .playButton {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: #000;
     border: 1px solid #555;
     color: #fff;
 }

 .buttonIcon {
     width: 16px;
     height: 16px;
 }

 /* Rotate next button 180deg */
 .nextIcon {
     transform: rotate(180deg);
 }

 .playButton .button-icon {
     width: 20px;
     height: 20px;
 }

 .mediaName {
     width: 140px;
     height: calc(var(--sp) * 2);
     overflow: hidden;
     /* 넘친 부분 숨김 */
     white-space: nowrap;
     /* 한 줄 유지 */
     position: relative;
 }

 .mediaNameText {
     display: inline-block;
     animation: scroll 8s linear infinite;
     text-align: right;
 }

 /* 핵심 애니메이션 */
 @keyframes scroll {
     from {
         transform: translateX(200%);
         /* 오른쪽 밖에서 시작 */
     }

     to {
         transform: translateX(-100%);
         /* 왼쪽 밖으로 끝 */
     }
 }

 .equalizerContainer {
     height: 50%;
     width: 250px;
 }

 .canvasStyle {
     width: 100%;
     height: 100%;
 }