.container {
    display: flex;
    width: 100%;
    height: 100%;
    ;
}

/* 
.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
} */

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    background-color: rgba(230, 230, 230, 0.223);
    border-left: 1px solid rgba(230, 230, 230, 0.4);
    box-sizing: border-box;
}

.rightDetail {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.rightDetailImg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    user-select: none;
}

.left {
    font-size: 0.6em;
    flex: 1;
    /* 왼쪽 영역 배경 */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    /* 2열 배치 */
    gap: 10px;
    /* 박스 간격 */
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 세로가 긴 화면 (높이가 더 클 때) */
@media (max-aspect-ratio: 1/1) {
    .container {
        flex-direction: column-reverse;
        /* 아래쪽(Left)이 위로, 위쪽(Right)이 아래로 */
    }

    .rightDetail {
        height: 100%;
    }
}