.posterCard {
    background-size: cover;
    /* 컨테이너를 완전히 덮음 */
    background-position: center;
    /* 이미지 가운데 정렬 */
    background-repeat: no-repeat;
    /* 반복 방지 */
    /* background-image: url("./exhibition.jpg");
     */
    transform-origin: bottom;
    background: #fff;
    border: 1px solid #e8e8e8;
    position: relative;
    box-shadow: 0 10px 30px #0000001a, 0 4px 8px #0000000d, inset 0 1px #fffc;
    width: 100%;
    height: 100%;
    position: relative;
}

.metalFrame {
    position: absolute;
    display: block;
    padding: 2px;
    /* 프레임 두께 */

    /* 메탈릭 액자 프레임 */
    background: linear-gradient(145deg,
            #e0e0e0,
            #b0b0b0,
            #e0e0e0);
    border-radius: 2px;

    /* 외곽 입체감 그림자 */
    box-shadow:
        0 4px 12px 3px rgba(0, 0, 0, 0.3),
        inset 1px 1px 2px rgba(255, 255, 255, 0.6),
        inset -1px -1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}