.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.headerPanel {
    height: 40px;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: calc(var(--sp) * 2);
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #000;
}

.topBar {
    display: flex;
    gap: 8px;
    padding: 0px var(--sp);
    box-sizing: border-box;
    justify-content: flex-end;
    height: 3.5%;
}

.addButton {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: var(--sp) calc(var(--sp) * 2);
    font-size: 11px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.tabBar {
    margin: var(--sp) 0px;
    padding: 0px var(--sp);
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 4%;
    justify-items: center;
    align-items: center;
    background-color: #c6c6c6c2;
    background-clip: content-box;
}

.tabButton {
    width: 33.3%;
    height: 70%;
    color: #000;
    cursor: pointer;
    display: flex;
    /* 플렉스 박스 사용 */
    align-items: center;
    justify-content: center;
    /* 수평 중앙 정렬 (이미 있음) */
}

.active {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.imagePreview {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.previewImage {
    width: 50%;
    height: auto;
}