.dialogOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* 사파리용 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.dialogContainer {
    display: flex;
    position: relative;
    height: 75%;
    aspect-ratio: 1.3 / 1;
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.3);
}

.dialogImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* ← 부모를 절대 넘지 않음 */
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-right: 1px solid rgba(230, 230, 230, 0.3);
    box-sizing: border-box;
}

.dialogImage {
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
    display: block;
    user-select: none;
    justify-items: center;
    align-content: center;
}

.dialogInfo {
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
    gap: calc(var(--sp) * 2);
    box-sizing: border-box;
    padding: calc(var(--sp) * 6) calc(var(--sp) * 2)
}

.dialogInfoTitle {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 0 16px;
    font-size: 14px;
}

.dialogInfoOverView {
    border-top: 1px solid #e0e0e0;
    padding-top: calc(var(--sp) * 6);
}


/* 세로가 긴 화면 (높이가 더 클 때) */
@media (max-aspect-ratio: 1/1) {
    .dialogContainer {
        width: 70%;
        height: auto;
        aspect-ratio: 1 / 1.3;
        flex-direction: column;
    }

    .dialogImageContainer {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid rgba(230, 230, 230, 0.3);
    }

    .dialogImage {
        width: 90%;
        height: 90%;
    }

    .dialogInfo {
        flex: 1;
        gap: var(--sp);
        padding: calc(var(--sp) * 2) calc(var(--sp) * 2)
    }

}