html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {

    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

html,
body {
    height: 100dvh;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 13px;
    background-color: white;
    color: black;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 4px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Firefox 브라우저용 사용자 정의 스타일 */
[type="number"] {
    -moz-appearance: textfield;
}

button {
    -webkit-tap-highlight-color: transparent;
    /* 탭 하이라이트 제거 */
    outline: none;
    /* 클릭 시 파란 outline 제거 */
    -webkit-user-select: none;
    /* 텍스트 선택 방지 */
}

/* 그 외(Chrome, Safari, Edge...)의 브라우저용 사용자 정의 스타일 */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:invalid {
    background-color: rgb(248, 6, 6, 0.1);
}

span {
    display: inline-block;
    font-size: 11px;
    transform: scaleY(0.75);
    transform-origin: center;
}

li {
    font-size: 11px;
    transform: scaleY(0.75);
    transform-origin: center;
}

:root {
    --nav-width: 60px;
    --sp: 8px;
    /* 기본 간격 */
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --nav-width: 0px;
    }
}

.layoutRoot {
    display: flex;
    width: 100%;
    height: 100%;

}

.childContainer {
    width: calc(100% - var(--nav-width));
    height: 100%;
}